@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: poppins;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.adv {
    font-family: poppins;
    /* font-family: "Noto Serif", serif; */
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


img {
    pointer-events: none;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    color: #161616;
    width: 100%;
    z-index: 100;

}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 600 !important;
    box-shadow: rgba(38, 33, 33, 0.1) 0px 10px 10px -10px;

}

.contentz {
    color: white;

}

nav a {
    color: white;
    padding: 5px;

    overflow: hidden !important;
}

nav a:hover {
    background-color: #D2606C;
    padding: 5px;
    overflow: hidden !important;
    border-radius: 5px;
    color: white !important;

}


footer {
    background: linear-gradient(40deg, #824C5A, #996977, #D2606C);
    color: #fff;
    text-align: center;
    padding: 10px;
    text-align: center;
}

footer p {
    margin-top: 16px;
}

.p-absolute {
    position: absolute;
}

i {
    color: #2f6e80;
    font-size: 16px;
    padding: 3px;
}


.services i {
    font-size: 25px;
}

li {

    margin: 10px;
    display: inline;
    list-style: none;
}


.my-h0 {

    font-size: 2em;
    font-weight: 700;
    color: white !important;
}


/*animação*/
@keyframes animacaoPadrao {
    0% {
        /*margin-left: -50px;*/
        opacity: 0;

    }

    100% {
        margin-left: 0;
        opacity: 1;

    }
}

.mapa{
    height: 520px;
}

/*CARDS*/

.flip-card {
    margin: 10px;
    cursor: pointer;
    background-color: transparent;
    width: 100%;
    height: 300px;
    perspective: 1000px;
    d-
}

.flip-card-inner {

    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.7s;
    transform-style: preserve-3d;
    transition: 0.3s;
}

.flip-card:hover .flip-card-inner {
    /* transform: rotateY(180deg); */
    margin-top: -15px;
    transition: 0.4s;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    display: flex;
    background-color: #ffffff;
    color: black;
    border-radius: 5px;
    -webkit-box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.19);
    box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.123);
    flex-direction: column;
    justify-content: center;
}

.flip-card-back {
    background-color: #E67E7E;
    color: white;
    transform: rotateY(180deg);
    -webkit-box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.199);
    box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.123);
}

.font-roboto {
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.adv-info h1,
.adv-info h4,
.adv-info h5 {
    margin: 0;
    padding: 0;
}

.font-arial {
    font-family: Arial, Helvetica, sans-serif;
}

.my-text {
    color: 464646;
    font-size: 18px;
    font-weight: 500;

}

.animar2 {
    animation: animacaoPadrao 0.7s ease-in-out;
}

.animar {
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
}

.active {
    margin-left: 0px;
    opacity: 1;
}

.my-p {

    font-size: 14px;
    padding: 4px;
    border-radius: 5px;
    background-color: #313131;
}

.my-servicos {
    display: flex;
    padding: 50px;
    /* background: linear-gradient(40deg, #824C5A, #996977, #D2606C); */
    background: linear-gradient(180deg, #ffffff, #f3cfd938, #ffcad073);
    justify-content: center;
    width: 100%;
    background-size: cover;
}

.my-img {
    max-width: 500px;
    padding-bottom: 30px;
}

.my-bg {
    background: url('./imagem/detalhe.jpg') no-repeat center center;
    height: 100vh;
    width: 100%;
    background-size: cover;
    /* -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0); */
    transition: clip-path 0.8s ease, opacity 0.8s ease;
    /* Suavizando a transição e adicionando transição de opacidade */

}

.scrolled-down {
    /* -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0); */
}


.my-bg2 {
    background-color: rgb(253, 253, 253);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 3px 5px;
}

.text-left {
    text-align: left;
}

.lampada {
    max-width: 500px;
    position: center;
    filter: opacity(95%);
}

hr {
    color: rgb(189, 189, 189);
}

.services {
    border: 1px solid 4646460a;
    cursor: pointer;
    margin: 15px;
    width: 280px;
    height: 250px;
    padding: 5px;
    line-height: 20px;
    background-color: rgba(231, 231, 231, 0.219);
    box-shadow: rgba(50, 50, 93, 0.07) 0px 6px 12px -2px, rgba(0, 0, 0, 0.2) 0px 3px 7px -3px;
    transition: 0.5s;
}

.services:hover {
    border-radius: 20px 0px 0px 0px;
    transition: 0.5s;
    box-shadow: rgba(47, 105, 143, 0.356) 0px 6px 12px -2px, rgba(36, 134, 163, 0.2) 0px 3px 7px -3px;
}


.services h4 {
    color: 464646;
    margin-top: 5px;
}

.services p {
    color: 464646;
    margin-top: 10px;
    transition: 0.5s;
}

/* PROBLEMAS */
.services-problem {
    border-radius: 5px;
    font-weight: 600;
    border: 1px solid 4646460a;
    margin: 10px;
    cursor: pointer;
    width: 265px;
    height: 80px;
    padding: 5px;
    line-height: 20px;
    color: white;
    background-color: #3b6775;
    box-shadow: 0px 6px 12px -2px rgba(50, 50, 93, 0.07), 0px 3px 7px -3px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.services-problem:hover {
    color: #303030 !important;
    /* Corrigi a cor do texto para branco */
    background-color: #ffffff;

    box-shadow: 0px 6px 12px -2px rgba(47, 105, 143, 0.356), 0px 3px 7px -3px rgba(36, 134, 163, 0.2);
    transition: 0.2s;
}

.services-problem h4 {
    overflow: hidden;
    padding: 20px;
    color: 464646;
    margin: 5px 0 0 0;
    /* Melhorei a formatação das margens */
    font-size: 18px;
}


.services-problem p {
    color: 464646;
    margin-top: 10px;
    transition: 0.2s;
}

/* .parallax-container {
    position: relative;
    overflow: hidden;

} */

.my-faq {

    background-attachment: fixed;
    /* Isso é importante para o efeito de parallax */
    background-size: cover;
    height: 100%;
    /* Garanta que o elemento ocupe toda a altura do contêiner pai */
}

.pt-30 {
    padding-top: 30px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-60 {
    padding-top: 50px;
}

.pt-80 {
    padding-top: 80px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-130 {
    padding-top: 130px;
}

.pt-180 {
    padding-top: 180px;
}

.my-i {

    font-size: 40px;
    color: #D3616C;
}

.my-h {

    font-size: 2.4em;
    font-weight: 900 !important;
    color: #464646;
    border-left: 6px solid 464646;
    padding-left: 5px;
}

.my-h1 {
    text-align: center;
    font-size: 2.8em;
    padding: 5px;
    border-bottom: 1px dotted #d3616ca9;
    border-radius: 10px;
    font-weight: 900 !important;
    color: #464646;
    border-left: 6px solid 464646;
    padding-left: 5px;
}

.my-h1-1 {
    text-align: center;
    font-size: 2.8em;
    padding: 5px;
    border-radius: 10px;
    font-weight: 1000 !important;
    color: #464646;
    border-left: 6px solid 464646;
    padding-left: 5px;
}

.minha-logo {
    position: absolute;
    cursor: none !important;
    pointer-events: none;
}

.contato-i {
    font-size: 30px;
}

.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: #AD6673;
    color: white;
    box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-button:focus {
    z-index: 3;
    border-color: #AD6673;
    outline: 0;
    box-shadow: var(--bs-accordion-btn-focus-box-shadow);
}

.contato {
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    background: white;
    background-size: 600% 600%;
    font-weight: 800;
    animation: rainbow 6s linear in;
}

.contato-p {
    color: white;/
}

.degrade {
    -webkit-background-clip: text;
    /* Define a área de recorte da imagem de fundo (texto) */
    font-weight: 980 !important;
    /* Define o peso da fonte como 980 (importante para substituir outras regras de estilo) */
    background-image: linear-gradient(92deg, #df6975 1.55%, #EE8A85 52.07%, #DE7276 114.33%);
    color: transparent;
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}


.my-ul {
    height: 15px;
}

a {
    text-decoration: none;
    color: #313131;
}

a:active {
    color: #313131;
}

.my-flex {
    display: flex;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 40px;
    right: 50px;
    background-color: #e7e7e7;
    color: #313131;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999;
    top: 83VH;

}

.my-toggle {
    display: none;
}



/* Estilos para dispositivos móveis */
@media screen and (max-width: 768px) {
    nav {
        height: 70px;
    }

    .mapa{
        height: 350px;
    }

    .my-h0 {
        font-size: 1.6em;
        font-weight: 700;
        color: white !important;
    }


    .pt-130 {
        padding-top: 50px;
    }

    .pt-180 {
        padding-top: 50px;
    }

    .ptm-50 {
        padding-top: 50px;
    }

    .my-toggle {
        margin-top: -5px;
        display: inline-block;
        text-align: center;
        width: 40px;
        height: 40px;
        border: 1px solid rgb(206, 206, 206);
        border-radius: 5px;
    }

    .my-toggle i {
        font-size: 20px;
    }

    .my-img {
        max-width: 350px;
        padding-bottom: 30px;
    }

    .no-show {
        display: none;
    }

    .show-nav {
        transition: 0.3s;
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 0;
        background-color: #ffffff;
        margin-top: 45px;
        height: 200px;
        width: 100%;
        box-shadow: rgba(33, 35, 38, 0.5) 0px 10px 10px -10px;
    }

    .show-nav a {
        color: black !important;
    }

    #scrollToTopBtn {
        display: none !important;
    }

    .my-img-content {
        width: 250px;
        padding-bottom: 50px;
        ;
    }
}